*{
    margin: 3px;
}
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #69839c;
}
.container{
    margin: auto;
}
.form-container {
    background: rgb(135, 190, 235);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}